* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: "Inter", sans-serif;
}

html {
  background: var(--black);
  color: var(--gray);
  font-size: 62.5%;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  max-width: 104.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.4rem;
}
header .left {
  height: 2.6rem;
}
header .left img {
  height: 100%;
}
header .show {
  top: 0 !important;
}
header .middle {
  transition: 0.4s;
}
header .middle ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header .middle ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
}
header .middle ul li a + a {
  margin-left: 1.2rem;
}
header .right {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
}
header .right .conf {
  height: 3.2rem;
  position: relative;
}
header .right .conf span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--white);
  font-size: 1.4rem;
  width: max-content;
}
header .right .avatar {
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
}
header .right .bx-menu {
  margin-left: 1rem;
}
header .bx {
  cursor: pointer;
  font-size: 2.4rem;
  color: var(--white);
  display: none;
}

@keyframes colorCycle {
  0%, 55% {
    filter: brightness(0) invert(1);
  }
  11%, 33% {
    filter: none;
  }
}
main {
  max-width: 104.8rem;
  padding: 5.6rem 2.4rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12.8rem;
  line-height: 100%;
  letter-spacing: -1.24rem;
  color: var(--white);
}
main h1 span {
  padding: 0 0.67rem;
  filter: brightness(0) invert(1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorCycle 10s ease-in-out infinite;
}
main h1 span:nth-child(1) {
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}
main h1 span:nth-child(2) {
  background-image: linear-gradient(90deg, rgb(121, 40, 202), rgb(255, 0, 128));
  animation-delay: 3.33s;
}
main h1 span:nth-child(3) {
  background-image: linear-gradient(90deg, rgb(255, 77, 77), rgb(249, 203, 40));
  animation-delay: 6.66s;
}
main .buttons {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
}
main .buttons > button {
  background-color: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1.5rem 4.5rem;
  border: 0.1rem solid var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in;
}
main .buttons > button.outlined {
  background: transparent;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
}
main .buttons > button:hover {
  background: transparent;
  color: var(--white);
  border: 0.1rem solid var(--white);
}
main h2 {
  margin: 6.4rem 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  text-align: center;
}

footer {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

@media screen and (max-width: 768px) {
  header .bx {
    display: block;
  }
  header .middle {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
  }
  header .middle ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  header .middle ul li {
    width: 100%;
  }
  header .middle ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    transition: 0.2s;
  }
  header .middle ul li a:hover {
    background-color: var(--white);
    color: var(--black);
  }
  header .middle ul .bx-x {
    position: absolute;
    top: 1.4rem;
    right: 2.4rem;
  }
}
@media screen and (max-width: 530px) {
  main {
    padding: 5.6rem 1.5rem;
  }
  main h1 {
    font-size: 10rem;
    letter-spacing: -0.9rem;
  }
  main .buttons {
    flex-direction: column;
    width: 100%;
  }
  main .buttons button {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  header {
    padding: 1.6rem 1rem;
  }
  header .left img {
    width: 9rem;
  }
  header .right {
    margin: 0;
  }
  main {
    padding: 1.6rem 0.9rem;
  }
  main h1 {
    font-size: 9rem;
  }
  main h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 330px) {
  header .right {
    margin: 0;
  }
  header .right .conf {
    transform: scale(0.4);
  }
  header .right .avatar {
    display: none;
  }
  header .right .bx-menu {
    margin: 0;
  }
  main {
    padding: 1.6rem 0.2rem;
  }
  main h1 {
    font-size: 6rem;
    letter-spacing: -0.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
